.heading{
    font-size: 32px;
    font-family: play-700;
    text-transform: uppercase;
    word-spacing: 5px;
    line-height: 1.3;
    &--small{
        font-size: 24px;
        font-family: play-500;
    }
    &--mb{
        margin-bottom: 24px;
    }
    &__meta{
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.8;
    }
}
.content{
    p{
        margin: 0 0 12px 0;
    }
    &--mt{
        margin-top: 40px;
    }
}
.highlight{
    background-color: $yellow-color;
    padding: 30px;
    margin-top: 60px;
}