// color
$bg-grey-color: #f2f3f7;
$blue-color: #2c98f0;
$yellow-color: #f9bf3f;
$black-color: #333333;
$white-color: #FFFFFF;
$loader-color: #f03355;
$to-top-color: #f03355;
$modal-color: rgba(0, 0, 0, 0.6);


